body h1 h2 h3 h4 h5 h6 p{
    font-family: 'Work Sans', sans-serif;
    
}
img{
    max-width: 100%;
}

/* logo */


.logo_top img {
    width: 35px;
    margin-right: 10px;
}
.logo_top h3 {
    font-weight: 600;
    font-size: 23px;
}
.btn_font_size {
    font-size: 18px!important;
    
}

/* slider section */
.slider_section{
    background: url(img/background18.jpg) no-repeat center center;
    padding: 180px;
    position: relative;

}
.slider_content{
    z-index: 2;
}
.slider_content h4 { font-size: 17px;}
.slider_content h2  {font-size: 40px;}
.slider_width_input {
    width: 340px!important;
}

.slider_section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}
/* slid END */

/* About section */
.bg_color{
    background: #f3f3f77c;
}
.about_h1_font{
    font-weight: 500;
}
.about_p {font-size: 32px;
    line-height: 1.5em;}
/* About section END*/

/* service typ 6 */

.service_inner_img_text{
    box-shadow: 0px 0px 30px #8c9bc7;
    border-radius: 10px 0 0 10px;
    
}
.inner_height{
    height: 250px;
    
}
.inner_height img{
    height: 250px;
    border-radius: 10px 0 0 10px;
}
/* application =hover section= */



.bg_section_app a{
    position: relative;
    display: block;
}
.bg_section_app a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: .5s;

    background-color: rgba(137, 43, 226, 0.4);
}
.bg_section_app:hover a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 1;
    visibility: visible;

    background-color: rgba(137, 43, 226, 0.4);
}

/* application =hover section= END */

/* testimonial */

.testomonial_header h1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 7rem;}

.testomonial_header p {
    font-size: 2rem;
    font-weight: 300;
}

.testimonial_inner h1{
    font-size: 50px;
font-weight: 600;
}
.testimonial_inner h4{
    font-size: 30px;
font-weight: 600;
}
.testimonial_inner ul{ padding-left: 0;}
.testimonial_inner ul li {
    list-style: none;
    font-size: 28px;
    margin-bottom: 15px;
}
.testimonial_inner ul li span{
    margin-right: 15px;
    color: #657be0;
    font-size: 30px;
}
.btn_font_size{
    font-size: 30px;
}

/* testimonial END */
/* User Exp */

.user_exp h4{font-weight: 600;}
.user_exp h1{font-weight: 600;}
.user_exp p{font-weight: 500;
font-size: 20px;}
.user_exp img{
    width: 100px;
}

/* User Exp END */

/* Staff-id */
.staff_id img {
    width: 130px;
    margin-top: -70px;
    margin-left: 22px;
}
.shadow_btn{
    box-shadow: 1px 1px 5px rgb(172, 165, 165);
}

/* Staff-id END */

/* Form css */

.width_control{
    width: 48%;
    margin: 0 1%;
}

/* ENDING area */

.ending_text {}
.ending_text h3 {font-size: 30px;}
.ending_text h1 {font-size: 2.8rem;}